/*
https://github.com/leovan/leovan.me/blob/main/static/css/style.css
*/
:root {
  --image-background: url(/images/little-bear-light.png);
}

:root[data-theme="dark"] {
  --image-background: url(/images/little-bear-dark.png);
}
