/* ========================================================================
   Gallery
   ======================================================================== */

.gallery-img {
  text-align: center;
}

.gallery-img span {
  text-align: center;
}

.gallery-img-desc {
  font-size: 0.8em;
  font-weight: 800;
}


